.navbar{
    background-color: aquamarine;
}


.carritou {
    background-color: rgba(232, 237, 237, 0.4);
}

.precioTotal{
    background-color: aquamarine;
    color: rgba(107, 107, 104, 0.994);
    font-size: 50px;
    border:1px solid #666;
}

#imgCard{
    width:200px;
    height:300px;
    border:3px solid #666;
}

#imgCarrito{
    width:50px;
    height:50px;
}

#formulario{
    border:1px solid #666;
}